from .settings import *

DEBUG = True

ALLOWED_HOSTS = ['*']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'navigari',
        'USER': 'navigari',
        'PASSWORD': '',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = 587
EMAIL_HOST_USER = 'muxac4@gmail.com'
EMAIL_HOST_PASSWORD = 'oabn soba rpoa tbew'
SERVER_EMAIL = EMAIL_HOST_USER
DEFAULT_FROM_EMAIL = 'muxac4@gmail.com'
